@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Saira:ital,wght@0,700;1,700&display=swap');


.sec{
    position: relative;
}
     .introduction{
        
        border-bottom: none;
        height:120vh ;
        margin-top: 20PX;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(imagess/yarnbll.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 0;
        padding-bottom: 0%;
       
     }
     .auto-type{
        color: rgb(44, 41, 41);
        font-size: 65px;
     }
:root{
    --header-color:#127475;
    --tae-green:#C4FFB2;
    --celadon:#B7E3CC;
    --turquois:#2DE1C2;
    --primary-color:#033b4a;
    --secondary-color:#20c997;
    --gray:#4a4a4d;
    --bg-primary:#ecf0f3;
    --neon-green:#A3EBB1;
    --bege:#EDE6E3;
    --platin:#DADAD9

}

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    
    font-family: "Poppins", sans-serif;
    
    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
   
}




h1,h2{
    font-family: "Saira", sans-serif;
}


ul {
    list-style: none;
}

a{
    text-decoration: none;
   
}
#home #logo{
    display: flex;
    flex-direction: row;
    
}
#home img{
    width: 55px;
    height: 44px;
    margin-right: 10px;
}


#home ul a:hover{
    background-color:rgba(0, 0, 0, 0.639) ;
    transition: .5s;
    background-size: auto;
    cursor: pointer;
}
header .navbar{
    background-color: var(--primary-color);
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 0.4rem 2rem;
    z-index: 2;
}
header .navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
}

header .navbar nav a{
margin: 0 15px;
color: var(--bg-primary);
font-weight: 600;
}
header .navbar nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header #logo{
font-size: 20px;
font-weight: 600;
}
.navbar li a{
    padding: 10px 13px 10px;
   
}

#home .sidebar{
    position: fixed;
    width: 450px;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   justify-content: flex-start;
   
}


#products{
    background-color: #330055;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%232e0b5a' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2328145f' cx='50' cy='100' r='50'/%3E%3Cg fill='%23211b64' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23182168' cx='50' cy='200' r='50'/%3E%3Cg fill='%230c266b' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23002b6e' cx='50' cy='300' r='50'/%3E%3Cg fill='%23003070' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23003572' cx='50' cy='400' r='50'/%3E%3Cg fill='%23003974' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23003d75' cx='50' cy='500' r='50'/%3E%3Cg fill='%23004176' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23004577' cx='50' cy='600' r='50'/%3E%3Cg fill='%23004877' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23004c77' cx='50' cy='700' r='50'/%3E%3Cg fill='%23005077' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23005377' cx='50' cy='800' r='50'/%3E%3Cg fill='%23005676' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23005a76' cx='50' cy='900' r='50'/%3E%3Cg fill='%23005d75' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23136075' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    background-attachment: fixed;
    margin-top:-100px;
}
#products .content .row {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    margin-top: 50px;
    gap: 1rem;
    padding-bottom: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
#products .content .row .item:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 15px black;
    cursor: pointer;
}

#products .content .row .item img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(43, 43, 43); 
    
}
#products .row .item{
    background-color: #2f6472;
    padding:20px 7px 0; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    margin: 0 10px 20px;
}  
#products hr, #Services hr {
    width :200px;
    height:3px ;
    border: none;
    background-color: var(--tae-green);
    margin: 5px auto 0;
    
    
}
#products .row .item h3{
    margin: 15px 0;
    color: var(--bege);
    text-transform: capitalize;
}

#products .heading h2{
    margin-left: 3px;
   
    
}
.custom-shape-divider-top-1722713405 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1722713405 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 89px;
}

.custom-shape-divider-top-1722713405 .shape-fill {
    fill: #095899;
}

#products .heading, #Services .heading {
    text-align: center;
    margin-top: 100px;
    color: var(--bg-primary);
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    padding-top: 80px;
    
}
#products .heading img{
    width: 80px;
    height: 75px;
    margin-right: 2px;
    margin-top: 3px;
}
#products .item p{

    font-style: italic;
    color:black;
    font-size: 14px;
    text-align: center;
    
}

.crochet img{
    padding-bottom: 4px;
    box-shadow: 3px 2px 3px;
    transition-duration: 1s;
    width: 300px;
    height: 250px;
    margin-top: 100px;
    margin-left: 34px;
    
}
.crochet {
    margin-bottom: 0px;
}
.crochet img:hover{
    transform:scale(1.2);
}
.crochet{
    text-align: center;
    border-radius: 0cqmax;
}

.introduction{
  text-align: center;
    font-size: x-large;
    
    font-style: italic;
    
}

.small{
   font-size: 33px;
   color: #b8ffd3;
  text-align: center;
  font-weight: 700;
}
.h3{
    text-align: center;
    font-size: 27px;
    color:#232436 ;  
    letter-spacing: 2px; 
}


button{
   text-align: center;
  font-size: large;
 background-color: var(--secondary-color);
 
 
}
button:hover {
    cursor: pointer;
    background-color: var(--turquois);
    
}
button:active{
    background-color:rgb(117, 225, 117);
  }
  
#contact {
    background-position: center;
    background-repeat: no-repeat;
    background-color: #127475;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23033B4A'/%3E%3Cstop offset='1' stop-color='%23127475'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%230b5860'/%3E%3Cstop offset='1' stop-color='%23127475'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg %3E%3Cg transform='translate(0 465)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-54 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.43' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;background-attachment: fixed;
    background-size: cover;
    background-size: cover;   
}



.contact {
    text-align: center;
   padding-top: 200px;
  
}

 

 .column {
    width: 100%;
  }
  
  #contact .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    
  
  }
  .custom-shape-divider-top-1722773666 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1722773666 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 51px;
}

.custom-shape-divider-top-1722773666 .shape-fill {
    fill: #087a7e;
}

  #contact .heading img{
    margin-top: 100px;
    width: 80px;
    margin-right: 8px;
  }

#contact hr{
    width :200px;
    height:3px ;
    border: none;
    background-color: var(--tae-green);
    margin: 5px auto ;
    margin-bottom: 40px;
    
    
    
}
  #contact .contact h3{
    margin-top: 100px;
    font-size: 50px;
    color: var(--platin);
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  #contact .contact p{
   margin-top: 10px;
    font-family: "Saira", sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
  }
  #contact .contact i{
   margin-top: 50px;
   color:#F56040;


  }

#Services{
    height: 100vh;
    background-attachment: fixed;
    background-color: #330000;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
}
  #contact .contact .bt button {
    font-family: "Saira", sans-serif;
    margin-bottom: 45px;
  }

  .contact .icon i:hover{
    text-shadow: 0px 3px 7px rgb(48, 4, 4);
 }

 #Services .heading{
    margin-top: 0;
    padding-top:50px ;
 }
 #Services .heading img{
    width:75px;
    height:75px;
    margin-right: 6px;
   
 }

 



 .slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
}

.slider-nav {
    text-align: center;
    margin-top: 10px;
}

.slider-nav .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color:#717171 ;
    cursor: pointer;
}

.slider-nav .dot.active {
    background-color: #bbb;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.item {
    overflow: hidden; /* Prevent scrolling */
}

/* Hide scrollbar for IE and Edge */
.item::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

/* Hide scrollbar for Firefox */
.item {
    scrollbar-width: none; /* Hide scrollbar */
}
#products .slides {
    overflow: auto; /* Allow scrolling */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
#products .slides::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

/* Hide scrollbar for IE and Edge */
#products .slides {
    -ms-overflow-style: none; /* Hide scrollbar */
}

/* Hide scrollbar for Firefox */
#products .slides {
    scrollbar-width: none; /* Hide scrollbar */
}
.slider-nav {
    text-align: center;
    margin-top: 10px;
    position: relative; /* Ensure it overlays correctly */
    z-index: 1; /* Make sure it appears above other elements */
}

.slider-nav .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #717171; /* Default color */
    cursor: pointer;
}

.slider-nav .dot.active {
    background-color: #bbb; /* Active dot color */
}

@media (max-width: 1000px){
    header .navbar nav{
        display: block;
        text-align: center;

    }
    header .navbar nav ul{
        margin-top: 20px;
    }
    header .navbar nav ul a{
        margin: 0 8px;
    }
}
@media (max-width: 768px){
    .heading h2{
        font-size: 45px;
        }

    header .navbar{
        padding-bottom: 15px;
    }
    header .navbar nav{
        display: block;
        text-align: center;

    }
    header .navbar nav ul{
        margin-top: 20px;
    }
    header .navbar nav ul a{
        margin: 0 8px;
    }
    .h3 {
        text-align: center;
        font-size: 22px;
        color: #232436;
        letter-spacing: 2px;
        /* white-space: pre-line; */
    }
}
@media (max-width: 683px){
    .h3 {
        text-align: center;
        font-size: 20px;
        color: #232436;
        letter-spacing: 2px;
        /* white-space: pre-line; */
    }

}
@media (max-width: 630px){
    .small {
        font-size: 24px;
        color: #b8ffd3;
        text-align: center;
        font-weight: 700;
    }
    
}
@media (max-width: 431px){
.heading h2{
font-size: 20px;
}
#Services .heading img {
    width: 58px;
    height: 56px;
    margin-right: 6px;
   
}
}


@media (max-width: 500px) {
    header .navbar nav {
        display: block;
        text-align: center;
    }
    header .navbar nav ul {
        
        margin-top: 10px;
    }
    header .navbar nav ul a {
        
        margin: 10px 0;
    }
}
@media (max-width: 510px) {
    .auto-type{
     font-size: 45px;
    }
  
    header .navbar nav ul {
       
        margin-top: 10px;
    }
    header .navbar nav ul a {
     
        margin: 10px 0;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
}
@media (max-width: 433px){
    header .navbar nav h1{
       
        font-size: 25px;
    }

   
}
@media (max-width: 420px){
  .h3{
    font-size: 20px;
    
  }
    #Services{
        padding-bottom: 100px;
    }
 
}

@media (max-width: 390px) {
    

    header .navbar nav {
        
        text-align: center;
    }
    header .navbar nav ul {
      
        margin-top: 10px;
    }
    header .navbar nav ul a {
      
        margin: 10px 0;
    }
}



@media(max-width:643px){
  
   
    #products .heading img{
        width: 80px;
        height: 75px;
        padding: 0;
        margin: 0%;
       
    }
    #products .item h3{
       padding: 0%;
    }
    
}




  
   





@media(max-width:930px){
    #products .content .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
        gap: 2rem;
        padding-bottom: 30px;
        align-items: center;
        text-align: center;
        justify-content: center;
        
    }
}

@media(max-width:692px) {
    #products .content .row {
        display: grid;
        grid-template-columns: auto;
        margin-top: 50px;
        gap: 2rem;
        padding-bottom: 30px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    #products .item {
        width: 300px;
    }
}







